%header.header
  .container
    .content
      %h1
        .logo Pop-up dom

      %h2.first
        .new-dim.new-dim-static
          .text
            %span 28.11.
            %span.dash -
            %span 23.12.
      %h2
        .new-dim.new-dim-static
          .text
            - if I18n.locale == :en
              %span MON
            - else
              %span PON

            %span.dash -
            - if I18n.locale == :en
              %span SAT
            - else
              %span SOB
            %span /
            %span 8:00
            %span.dash -
            %span 22:00
      %h3
        .new-dim.new-dim-static
          .text
            TobaÄna&#8239;5,&#8239;Ljubljana

%section.whatis.white-on-dark
  .container
    .content
      .succinct
        %p= t 'about.short'
      .morelink
        %p
          %a{:href => '#'}= t 'about.more'
        
      .extended{:style => 'display: none;'}
        != Markdown.new(t 'about.long').to_html
        
        :coffeescript
          $('.morelink').click (e) ->
            # $('.extended').show()
            # ext_height = $('.extended').height()
            $('.morelink').hide()
            $('.extended').slideDown()