%section.white-content.services
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Storitve
  .transgreen-surf
    .container
      .content
        .tempimg.align_center
          %img{:src => '/img/startupdom/startupdom.png'}

  .container
    .content
      .startup-dom
        %p Sistematiziramo storitve, ki učinkovito komunicirajo in prodajo vašo idejo, izdelke ali storitve. Skupnostne vrednote, raziskovanje novih trendov in nove ustvarjalne ekonomije predstavljajo možnost, da se Slovenija zopet postavi na noge. Start-up dom zato vzpostavlja kreativni proces, v katerem bodo v času projekta vključene tri samostojno delujoče enote - te bodo posamezniku ali ekipi omogočile zasnovo, razvoj ter realizacijo produktov in storitev.
  
  .fillgreen-surf
    .container
      .content
        .tempimg.align_center
          %img{:src => '/img/startupdom/proces.png'}

  .container
    .content
      .crowdfunding
        %h4 CROWDFUNDING LAB
        %p Iniciativa Crowdfunding.si si prizadeva za razvoj in krepitev kulture množičnega financiranja v Sloveniji. V okviru Pop-up doma bomo vzpostavili začasni laboratorij in kreativno skupnost aktivno vključili v razvoj novih crowdfunding projektov ter na primerih iz prakse svetovali o pripravi in izvedbi kampanj.
      .creative
        %h4 CREATIVE LAB
        %p Creative Lab sestavljajo posamezniki, ki radi rešujejo probleme. Prihajajo iz ustvarjalnega segmenta družbe, katere temeljne vrednote so deljenje znanja, odgovorna komunikacija in trajnostni razvoj. Pri projektih se za dosego zastavljenih ciljev poglobijo v ključne dejavnosti, poslovne načrte in namere. Izboljšujejo izkušnje, komunikacije in odnose v delovnih okoljih in tako dodajo vrednost, ki je nujno potrebna za uspeh v družbi in na tržišču.

  .transyellow-surf
    .container
      .content
        .tempimg.align_center
          %img{:src => '/img/startupdom/fablab_neu.png'}

  .container
    .content
      .fab-lab
        %h4 FAB LAB
        %p FabLab (fabrication lab) je s sodobnimi kreativnimi tehnologijami opremljena delavnica, ki omogoča posameznikom pretvoriti ideje ter koncepte v realnost. S poudarkom na uporabi 3d-tiskalnika slovenske izdelave, se bo izdelovalo prototipe, po principu naredi-si-sam predelovalo in izdelovalo pametne elektronske naprave, gradilo sisteme za domačo pridelavo hrane ter soustvarjalo neprofitne projekte v svetovni odprto-kodni open-hardware skupnosti. Fab-labi dokazujejo, da se lokalne probleme bolj učinkovito rešuje z lokalno proizvodnjo.
        
  .transblue-surf
    .container{:style => 'padding-top: 0;'}
      .content
        .tempimg.align_center{:style => 'position: absolute; left: 0; right: 0;'}
          %img{:src => '/img/startupdom/coworking_logo.png'}
        .tempimg.align_center
          %img{:src => '/img/startupdom/coworking.jpg'}

      .coworking
        / %h3
        /   COWORKING
        %p Letošnja rdeča nit projekta je vzpostavitev skupnega delovnega prostora, ki omogoča medsebojno povezovanje, tkanje socialnih mrež in zvišuje proces ustvarjalnosti pri posameznikih. Tekom projekta Pop-up dom se lahko aktivno - brez predhodne najave ali prijave - od ponedeljka do sobote med 8.00 in 20.00 vključiš v hitro rastočo domačo kreativno skupnost in prostore Pop-up doma uporabljaš kot svoje delovno mesto. Pomni - coworking prinaša uporabnikom možnost izmenjave znanja in sodelovanja pri projektih. Predvsem pa ustvarja vse pogoje za nastajanje in razvoj poslovnih idej ter posledičnega generiranja novih poslovnih priložnosti.
  
  .container
    .content
      .tempimg.align_center
        %img{:src => '/img/startupdom/tocaj.png'}
      .tempimg.align_center
        %img{:src => '/img/coffee.gif'}
      .coffee
        / %h3 POP-UP TOČAJ
        %p Za vsakodnevno dobro počutje in umiritev delovnih strasti bo poskrbel Pop-up točaj, ki bo dnevno pripravljal dišečo slovensko kavo, točil domače pivo Pelicon in ponudil okusne prigrizke. Ker so zadovoljne brbončice in pozitivni miselni procesi na prvem mestu!