%header.header
  .container
    .content
      %h1
        .logo Pop-up dom

      / %h2
      /   .new-dim.new-dim-static
      /     .text
      /       Ljubljana

      %h2
        .new-dim.new-dim-static
          .text
            / ??. ??. - ??. ??. ????

            Kmalu v Ljubljani

%section.applications
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Prijava del
             
      %p.question
        Bi radi sodelovali v Pop-up domu?
        %br
        Sporočite nam:
      %ul.requirements
        %li ime in priimek
        %li telefon/email
        %li kratek opis izdelka
        %li sliko vašega izdelka

      .contact
        .email-address
          %a{:href => "mailto:nusa@popupdom.si?subject=Sodelovanje (Pop-up dom)"}
            nusa@popupdom.si
        .email-button
          %a{:href => "mailto:nusa@popupdom.si?subject=Sodelovanje (Pop-up dom)"}
            .new-dim.new-dim-interactive
              .text
                Pošlji mejl

%section.sponsorships
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Postani sponzor

      %p.question Bi radi pomagali pri Pop-up domu?

      %ul.requirements
        %li finančno
        %li z materiali
        %li z znanjem

      .contact
        .email-address
          %a{:href => "mailto:marko@popupdom.si?subject=Sponzorstvo (Pop-up dom)"}
            marko@popupdom.si
        .email-button
          %a{:href => "mailto:marko@popupdom.si?subject=Sponzorstvo (Pop-up dom)"}
            .new-dim.new-dim-interactive
              .text
                Pošlji mejl


%footer.footer
  .container
    .content
      %p
        Oglejte si
        %a{:href => 'http://lanski.popupdom.si', :style => "display: inline-block; color: white;"}<
          .new-dim.new-dim-interactive
            .text
              LANSKI POP-UP DOM
      %br