@import lib/normalize
@import lib/scss_blend_modes/blend-mode
@import lib/responsive_grid_system/all
@import colors

@media (max-width: 720px)
  +grid(handheld, 100%, 12, 5%)
  +type(handheld, 12px)

@media (min-width: 720px) and (max-width: 1024px)
  +grid(tablet, 720px, 12, 16px)
  +type(tablet, 13px)

  header ul li a img
    left: -1em !important

@media (min-width: 1024px) and (max-width: 1440px)
  // @media (min-width: 970px) and (max-width: 1140px)
  +grid(screen, 960px, 12, 20px)
  +type(screen, 14px)

  header ul li a img
    left: -0.5em !important

@media (min-width: 1440px)
  // @media (min-width: 1140px)
  +grid(huge, 1138px, 12, 30px)
  +type(huge, 16px)

::selection
  // background-color: #

.serif
  @extend .sans
=serif
  @extend .serif
.sans
  font-family: 'Resolution', sans-serif
=sans
  @extend .sans

.italic
  font-style: italic
=italic
  @extend .italic

// .heavy
//   font-weight: 800
// =heavy
//   @extend .heavy
.bold
  font-weight: 700
=bold
  @extend .bold
.medium
  font-weight: 600
=medium
  @extend .medium
.book
  font-weight: 400
=book
  @extend .book
.light
  font-weight: 300
=light
  @extend .light

.center
  text-align: center
=center
  @extend .center

h1, h2, h3, h4, h5, h6
  +sans
a
  color: $primary
  text-decoration: underline
html
  // background: $white url(/img/graydient.png) repeat-x fixed
  background: $white
  // background: $white
  color: $black
  background: $black
  color: $white
  height: 100%

body
  // -webkit-font-smoothing: subpixel-antialiased
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  // font-smoothing: subpixel-antialiased
  // font-smoothing: subpixel-antialiased !important

  text-rendering: optimizeLegibility  
  margin: 0
  padding: 0
  +serif
  
  .whitype
    -webkit-font-smoothing: antialiased

.loading img
  opacity: 0
  +transition(opacity, .4s)

.app img
  // +transition(opacity, .4s)

#skrollr-body
  width: 100%

.header, .dark-content, .light-content, .footer
  .content
    +row(12)

.capital-headers
  +scale(1)
  text-transform: uppercase


header
  // background: url(/img/oblak.jpg) center center no-repeat
  background: $darkgray
  height: 440px
  @media (max-width: 720px)
    height: 300px

  h1
    +scale(6)
    +col(6, tablet, screen, huge)
    +col(12, handheld)
    +height(4)
    background:
      image: url(/img/popupdom.png)
      repeat: no-repeat
      position: bottom right
      size: 100%
    margin:
      top: 1em
    @media (max-width: 720px)
      height: 130px
      background:
        position: center center
        size: 50%
 
    .logo
      text-indent: -9999px
  h2
    margin-top: 13em
    @media (max-width: 720px)
      margin-top: 1em
  h2, h3
    +col(6, tablet, screen, huge)
    +col(12, handheld)
    @extend .capital-headers
    text-align: right
    .three-dee
      margin:
        right: 2em

.whatis
  p
    +col(12)

.dark-content, .light-content, .white-content
  border-top: 2px solid $black

  .heading
    +col(12)
    clear: both

.dark-content
  background-color: $darkgray
  color: $white
  a
    color: $white

.light-content
  background-color: $lightgray
  color: $black
  // padding-bottom: 6em !important
  clear: both
  overflow: hidden
  a
    color: $black


.white-content
  background-color: $white
  color: $black
  a
    color: $black

.dark-content, .light-content, .white-content
  padding-bottom: 2em
  // .heading
  //   +row(12)
    // margin-top: -28px
  h2
    // margin-top: -28px
    @extend .capital-headers
    // +col(12)
    
    +align(center)

  p.question, .contact
    padding-left: 1em
       
  p.question
    // +col(12)
    margin-top: 2em
  .contact
    // +row(12)
    .email-address
      // +col(6, tablet, screen, huge)
      // +col(6, handheld)
    .email-button
      // +col(4, tablet, screen, huge)
      // +col(6, handheld)
      a
        text-transform: uppercase
        text-decoration: none
        +bold
        color: $black

  .regular-list
    margin-top: 0
    clear: both
  a
    +bold

.events, .products
  .description
    +scale(0)

  
  .price
    padding: .1em 3em .1em 1em
    border: 2px solid $black
    margin-right: -20px
    border-top: none
    display: inline-block
    +bold

  .price, .buy
    float: right
  
  .buy
    text-transform: uppercase
    margin-top: -11px
    margin-right: -2px
  .royalSlider
    width: 100%
    height: 200px


.event-list
  clear: both

.events
  .event
    +col(4, screen, huge)
    +col(6, tablet)
    +col(12, handheld)
    margin-bottom: 1em
    h3, h4
      text-transform: uppercase
      color: $red
    h3
      +scale(2)
      margin:
        top: 0
        bottom: 0
    h4
      margin:
        top: 0
        bottom: 0
      +scale(1)
      font-weight: normal
    .description
      +scale(0)
    .insides
      border: 2px solid $black
      padding: 1em
.product-list
  clear: both
.products
  .product
    +col(4, screen, huge)
    +col(6, tablet)
    +col(12, handheld)
    .image
      background: $lightgray
      margin-bottom: 1em
    .image-1
      height: 200px
    .image-3
      height: 300px
    .image-2
      height: 400px
.footer
  background-color: $darkgray
  text-align: center
  border-top: 2px solid black
  +scale(1)




header
  // background: url(/img/oblak.jpg) center center no-repeat
  height: 440px
  @media (max-width: 720px)
    height: 300px

  h1
    +scale(6)
    +col(6, tablet, screen, huge)
    +col(12, handheld)
    +height(4)
    background:
      image: url(/img/popupdom.png)
      repeat: no-repeat
      position: bottom right
      size: 100%
    margin:
      top: 1em
    @media (max-width: 720px)
      height: 130px
      background:
        position: center center
        size: 50%
 
    .logo
      text-indent: -9999px
  h2
    margin-top: 13em
    @media (max-width: 720px)
      margin-top: 1em
  h2, h3
    +col(6, tablet, screen, huge)
    +col(12, handheld)
    @extend .capital-headers
    text-align: right
    .three-dee
      margin:
        right: 2em

.applications, .sponsorships
  border-top: 2px solid $black

.applications
  background-color: $darkgray
  color: $white
  a
    color: $white

.sponsorships
  background-color: $lightgray
  color: $black
  padding-bottom: 6em !important
  clear: both
  overflow: hidden
  a
    color: $black

.applications, .sponsorships
  padding-bottom: 2em
  .heading
    +row(12)
    // margin-top: -28px
  h2
    // margin-top: -28px
    @extend .capital-headers
    +col(12)

  p.question, .contact
    padding-left: 1em
       
  p.question
    +col(12)
    margin-top: 2em
  .contact
    +row(12)
    .email-address
      +col(6, tablet, screen, huge)
      +col(6, handheld)
    .email-button
      +col(4, tablet, screen, huge)
      +col(6, handheld)
      a
        text-transform: uppercase
        text-decoration: none
        +bold
        color: $black

  .requirements
    margin-top: 0
    clear: both
  a
    +bold

.footer
  background-color: $darkgray
  text-align: center
  border-top: 2px solid black
  +scale(1)









